# Ignore datasets

*.csv
*.parquet
*.h5
*.pkl

# Ignore models & checkpoints
models/
checkpoints/
*.pth
*.ckpt
*.h5

# Ignore virtual environment
venv/
.env/
__pycache__/
*.pyc

# Ignore logs & temp files
logs/
*.log
temp/
cache/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore API keys & credentials
config.json
secrets.json
google_credentials.json
aws_keys.txt

.DS_Store
DS_Store